{% extends 'common.html' %}
{% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h2 class="mt-4">
                            {% if request.path == '/the-myeongdong/reservations' %}
                                명동점 예약 목록
                            {% elif request.path == '/the-jongno/reservations' %}
                                종로점 예약 목록
                            {% else %}
                                예약 목록
                            {% endif %}
                        </h2>

                        <!-- 상세조회 -->
                        <div class="row mt-5">
                            <div class="accordion" id="accordionExample" style="width: 100%;">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center" id="headingOne" style="height: 50px;">
                                        <h2>
                                            <button class="btn btn-link btn-block text-left text-dark mt-1 text-decoration-none"  type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <span><i class="fas fa-angle-down mr-2"></i> 상세 조회 </span>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            하이
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-4 mt-3">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div>
                                <i class="fas fa-table me-1"></i>
                                {% if request.path == '/the-myeongdong/reservations' %}
                                    명동점 예약 목록
                                {% elif request.path == '/the-jongno/reservations' %}
                                    종로점 예약 목록
                                {% else %}
                                    예약 목록
                                {% endif %}
                                </div>
                                <div>
                                    <a href="/the-myeongdong/reservations/register" class="btn btn-dark" style="margin-right: 10px;">예약 등록하기</a>
                                </div>
                            </div>
                            <div class="card-body p-4">
                                <div style="overflow-x: auto;">
                                    <div class="table-responsive my-4">
                                        <table class="table table-bordered display" id="dataTables" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th style="white-space: nowrap;">건물</th>
                                                    <th style="white-space: nowrap;">방타입</th>
                                                    <th style="white-space: nowrap;">예약자 성함</th>
                                                    <th style="white-space: nowrap;">플랫폼</th>
                                                    <th style="white-space: nowrap;">예약날짜</th>
                                                    <th style="white-space: nowrap;">리드타임</th>
                                                    <th style="white-space: nowrap;">체크인</th>
                                                    <th style="white-space: nowrap;">체크아웃</th>
                                                    <th style="white-space: nowrap;">숙박일</th>
                                                    <th style="white-space: nowrap;">숙박비</th>
                                                    <th style="white-space: nowrap;">ADR</th>
                                                    <th style="white-space: nowrap;">국적</th>
                                                    <th style="white-space: nowrap;">투숙인원</th>
                                                    <th style="white-space: nowrap;">관계</th>
                                                    <th style="white-space: nowrap;">투숙/취소</th>
                                                    <th style="white-space: nowrap;">연락처</th>
                                                    <th style="white-space: nowrap;">이메일</th>
                                                    <th style="white-space: nowrap;">비고</th>
                                                </tr>
                                            </thead>
                                            <!--
                                            <tbody>
                                                {% for item in reservations %}
                                                    <tr>
                                                        <td style="white-space: nowrap;">{{ item.building_location }}</td>
                                                        <td style="white-space: nowrap;">{{ item.room_type }}</td>
                                                        <td style="white-space: nowrap;">{{ item.guest_name }}</td>
                                                        <td style="white-space: nowrap;">{{ item.platform_name }}</td>
                                                        <td style="white-space: nowrap;">{{ item.reservation_date }}</td>
                                                        <td style="white-space: nowrap;">{{ item.lead_time }}</td>
                                                        <td style="white-space: nowrap;">{{ item.check_in_date }}</td>
                                                        <td style="white-space: nowrap;">{{ item.check_out_date }}</td>
                                                        <td style="white-space: nowrap;">{{ item.lenth_of_stay }}</td>
                                                        <td style="white-space: nowrap;">{{ item.total_room_charge }}</td>
                                                        <td style="white-space: nowrap;">{{ item.adr}}</td>
                                                        <td style="white-space: nowrap;">{{ item.nationality }}</td>
                                                        <td style="white-space: nowrap;">{{ item.relationship }}</td>
                                                        <td style="white-space: nowrap;">{{ item.is_checked_in }}</td>
                                                        <td style="white-space: nowrap;">{{ item.is_minor }}</td>
                                                        <td style="white-space: nowrap;">{{ item.phone_number }}</td>
                                                        <td style="white-space: nowrap;">{{ item.email }}</td>
                                                        <td style="white-space: nowrap;">{{ item.remarks|truncatechars:30 }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            -->
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
{% endblock %}
