{% extends 'common.html' %}
{% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h2 class="mt-4">
                            {% if request.path == '/the-myeongdong/reservations' %}
                                명동점 예약 목록
                            {% elif request.path == '/the-jongno/reservations' %}
                                종로점 예약 목록
                            {% else %}
                                예약 목록
                            {% endif %}
                        </h2>

                        <!-- 상세조회 -->
                        <div class="row mt-5">
                            <div class="accordion" id="accordionExample" style="width: 99.5%; margin-left: 5px">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center" id="headingOne" style="height: 50px;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="mb-0">
                                            <i class="fas fa-angle-down mr-2"></i> 상세 조회
                                        </span>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row" style="width: 100%; height: 30%;">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-2">
                                                    <div class="dropdown">
                                                        <button class="btn btn-outline-secondary dropdown-toggle" style="width: 100%;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            건물
                                                        </button>
                                                        <div class="dropdown-menu dropdown-building-menu" aria-labelledby="dropdownBuildingButton" style="width: 100%;">
                                                            <a class="dropdown-item" href="#">본관</a>
                                                            <a class="dropdown-item" href="#">신관</a>
                                                            <a class="dropdown-item" href="#">별관</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="dropdown">
                                                        <button class="btn btn-outline-secondary dropdown-toggle" style="width: 100%; height: 40px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            방타입
                                                        </button>
                                                        <div class="dropdown-menu dropdown-room-menu" aria-labelledby="dropdownRoomButton" style="width: 100%;">
                                                            <a class="dropdown-item" href="#">패밀리스위트</a>
                                                            <a class="dropdown-item" href="#">8인 패밀리 스위트</a>
                                                            <a class="dropdown-item" href="#">씨네마</a>
                                                            <a class="dropdown-item" href="#">2인스파</a>
                                                            <a class="dropdown-item" href="#">4인스파</a>
                                                            <a class="dropdown-item" href="#">2인스파 스위트</a>
                                                            <a class="dropdown-item" href="#">4인스파 스위트</a>
                                                            <a class="dropdown-item" href="#">6인스파 스위트</a>
                                                            <a class="dropdown-item" href="#">6인스파 401</a>
                                                            <a class="dropdown-item" href="#">6인스파 402</a>
                                                            <a class="dropdown-item" href="#">8층</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="dropdown">
                                                        <button class="btn btn-outline-secondary dropdown-toggle" style="width: 100%; height: 40px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            플랫폼
                                                        </button>
                                                        <div class="dropdown-menu dropdown-platform-menu" aria-labelledby="dropdownPlatformButton" style="width: 100%;">
                                                            <a class="dropdown-item" href="#">아고다</a>
                                                            <a class="dropdown-item" href="#">야놀자</a>
                                                            <a class="dropdown-item" href="#">비앤비</a>
                                                            <a class="dropdown-item" href="#">네이버</a>
                                                            <a class="dropdown-item" href="#">씨트립</a>
                                                            <a class="dropdown-item" href="#">익스피디아</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="dropdown">
                                                        <button class="btn btn-outline-secondary dropdown-toggle" style="width: 100%; height: 40px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            투숙 여부
                                                        </button>
                                                        <div class="dropdown-menu dropdown-status-menu" aria-labelledby="dropdownStatusButton" style="width: 100%;">
                                                            <a class="dropdown-item" href="#">방문 전</a>
                                                            <a class="dropdown-item" href="#">투숙</a>
                                                            <a class="dropdown-item" href="#">취소</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" style="width: 100%; height: 40px;" />
                                                        <label for="inputLastName" style="margin-top: -9px; font-size: 13px; color:gray">예약자 성함</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1"></div>
                                            </div>

                                            <div class="row" style="width: 100%; height: 30%;">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-2">
                                                    <div class="form-floating mb-3 mt-3">
                                                        <input type="text" id="reservationDate" class="form-control" style="width: 100%; height: 40px;">
                                                        <label for="reservationDate"><i class="fas fa-calendar-days mr-2"></i>예약 날짜</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-floating mb-3 mt-3">
                                                        <input type="text" id="checkInDateSearch" class="form-control" style="width: 100%; height: 40px;">
                                                        <label for="checkInDateSearch"><i class="fas fa-calendar-days mr-2"></i>체크인 날짜</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-floating mb-3 mt-3">
                                                        <input type="text" id="checkOutDateSearch" class="form-control" style="width: 100%; height: 40px;">
                                                        <label for="checkOutDateSearch"><i class="fas fa-calendar-days mr-2"></i>체크아웃 날짜</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-floating mb-3 mt-3 mb-md-0">
                                                        <input class="form-control" style="width: 100%; height: 40px;" id="inputRate" type="text" placeholder="금액을 숫자만 입력해 주세요" oninput="formatAccommodationFee(this)"/>
                                                        <label for="inputRate" style="margin-top: -9px; font-size: 13px; color:gray">숙박비</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-floating mb-3 mt-3 mb-md-0">
                                                        <input class="form-control" style="width: 100%; height: 40px;" id="inputNationality" type="text" placeholder="국적" />
                                                        <label for="inputNationality" style="margin-top: -9px; font-size: 13px; color:gray">국적</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1"></div>
                                            </div>
                                            <div class="row" style="width: 100%; height: 30%;">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-2">
                                                    <div class="form-floating mb-md-0">
                                                        <input class="form-control" style="width: 100%; height: 40px;" id="inputGuests" type="text" placeholder="투숙인원"/>
                                                        <label for="inputGuests" style="margin-top: -9px; font-size: 13px; color:gray">투숙인원</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-floating mb-md-0">
                                                        <input class="form-control" style="width: 100%; height: 40px;" id="inputRelationship" type="text" placeholder="관계" />
                                                        <label for="inputRelationship" style="margin-top: -9px; font-size: 13px; color:gray">관계</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-floating mb-md-0">
                                                        <input class="form-control" style="width: 100%; height: 40px;" id="inputRelationship" type="text" placeholder="관계" />
                                                        <label for="inputRelationship" style="margin-top: -9px; font-size: 13px; color:gray">미성년자</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-floating mb-md-0">
                                                        <input class="form-control" style="width: 100%; height: 40px;" id="inputPhoneNumber" type="text" placeholder="연락처"/>
                                                        <label for="inputPhoneNumber" style="margin-top: -9px; font-size: 13px; color:gray">연락처</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-floating mb-md-0">
                                                        <input class="form-control" style="width: 100%; height: 40px;" id="inputEmail" type="text" placeholder="이메일" />
                                                        <label for="inputEmail" style="margin-top: -9px; font-size: 13px; color:gray">이메일</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1"></div>
                                            </div>
                                            <div class="row mt-3 d-flex justify-content-end">
                                                <button id="searchButton" type="button" class="btn btn-secondary" style="margin-right: 30px; width: 110px;">조회하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        

                        <div class="card mb-4 mt-3">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div>
                                <i class="fas fa-table me-1"></i>
                                {% if request.path == '/the-myeongdong/reservations' %}
                                    명동점 예약 목록
                                {% elif request.path == '/the-jongno/reservations' %}
                                    종로점 예약 목록
                                {% else %}
                                    예약 목록
                                {% endif %}
                                </div>
                                <div>
                                    <a href="/the-myeongdong/reservations/register" class="btn btn-dark" style="margin-right: 10px;">예약 등록하기</a>
                                </div>
                            </div>
                            <div class="card-body p-4">
                                <div style="overflow-x: auto;">
                                    <div class="table-responsive my-4">
                                        <table class="table table-bordered display" id="dataTables" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th style="white-space: nowrap;">건물</th>
                                                    <th style="white-space: nowrap;">방타입</th>
                                                    <th style="white-space: nowrap;">예약자 성함</th>
                                                    <th style="white-space: nowrap;">플랫폼</th>
                                                    <th style="white-space: nowrap;">예약날짜</th>
                                                    <th style="white-space: nowrap;">리드타임</th>
                                                    <th style="white-space: nowrap;">체크인</th>
                                                    <th style="white-space: nowrap;">체크아웃</th>
                                                    <th style="white-space: nowrap;">숙박일</th>
                                                    <th style="white-space: nowrap;">숙박비</th>
                                                    <th style="white-space: nowrap;">ADR</th>
                                                    <th style="white-space: nowrap;">국적</th>
                                                    <th style="white-space: nowrap;">투숙인원</th>
                                                    <th style="white-space: nowrap;">관계</th>
                                                    <th style="white-space: nowrap;">투숙/취소</th>
                                                    <th style="white-space: nowrap;">미성년자</th>
                                                    <th style="white-space: nowrap;">연락처</th>
                                                    <th style="white-space: nowrap;">이메일</th>
                                                    <th style="white-space: nowrap;">비고</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in reservations %}
                                                    <tr onclick="window.location='/the-myeongdong/reservations/{{ item.id }}';" style="cursor: pointer;">
                                                        <td style="white-space: nowrap;">{{ item.building_location }}</td>
                                                        <td style="white-space: nowrap;">{{ item.room_type }}</td>
                                                        <td style="white-space: nowrap;">{{ item.guest_name }}</td>
                                                        <td style="white-space: nowrap;">{{ item.platform_name }}</td>
                                                        <td style="white-space: nowrap;">{{ item.reservation_date }}</td>
                                                        <td style="white-space: nowrap;">{{ item.lead_time }}</td>
                                                        <td style="white-space: nowrap;">{{ item.check_in_date }}</td>
                                                        <td style="white-space: nowrap;">{{ item.check_out_date }}</td>
                                                        <td style="white-space: nowrap;">{{ item.lenth_of_stay }}</td>
                                                        <td style="white-space: nowrap;">{{ item.total_room_charge }}</td>
                                                        <td style="white-space: nowrap;">{{ item.adr}}</td>
                                                        <td style="white-space: nowrap;">{{ item.nationality }}</td>
                                                        <td style="white-space: nowrap;">{{ item.guest_count }}</td>
                                                        <td style="white-space: nowrap;">{{ item.relationship }}</td>
                                                        <td style="white-space: nowrap;">{{ item.is_checked_in }}</td>
                                                        <td style="white-space: nowrap;">{{ item.is_minor }}</td>
                                                        <td style="white-space: nowrap;">{{ item.phone_number }}</td>
                                                        <td style="white-space: nowrap;">{{ item.email }}</td>
                                                        <td style="white-space: nowrap;">{{ item.remarks|truncatechars:30 }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

<script>
    $(document).ready(function() {
        $('#reservationDateSearch').datepicker({
            language: "ko",
            autoclose: true,
            todayHighlight: true
        })
    })

    $(document).ready(function() {
        $('#checkInDateSearch').datepicker({
            language: "ko",
            autoclose: true,
            todayHighlight: true
        })
    })

    $(document).ready(function() {
        $('#checkOutDateSearch').datepicker({
            language: "ko",
            autoclose: true,
            todayHighlight: true
        })
    })
</script>
<script>
    function formatAccommodationFee(input) {
        // 입력값에서 쉼표를 제거하고 숫자만 남깁니다.
        let value = input.value.replace(/[^0-9]/g, '');
        // 숫자를 오른쪽에서부터 왼쪽으로 3자리씩 쉼표로 구분합니다.
        value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        // 포맷팅된 값으로 입력 필드의 값을 업데이트합니다.
        input.value = value;
    }
</script>

<script>
    // 건물 드롭다운 메뉴
    $('.dropdown-building-menu').on('click', 'a', function() {
        var selectedBuilding = $(this).text(); // 클릭한 항목의 텍스트 가져오기
        $('#dropdownBuildingButton').text(selectedBuilding); // 선택한 항목으로 버튼 텍스트 변경
    });

    // 방타입 드롭다운 메뉴
    $('.dropdown-room-menu').on('click', 'a', function() {
        var selectedRoomType = $(this).text();
        $('#dropdownRoomButton').text(selectedRoomType);
    });

    // 플랫폼 드롭다운 메뉴
    $('.dropdown-platform-menu').on('click', 'a', function() {
        var selectedPlatform = $(this).text();
        $('#dropdownPlatformButton').text(selectedPlatform);
    });

    // 투숙 여부 드롭다운 메뉴
    $('.dropdown-status-menu').on('click', 'a', function() {
        var selectedStayStatus = $(this).text();
        $('#dropdownStatusButton').text(selectedStayStatus);
    });


    // 검색 버튼 클릭 이벤트
    $('#searchButton').click(function() {
        // 각 입력 필드의 값들을 가져옵니다.
        var building = $('#dropdownMenuButton1').text();
        var roomType = $('#dropdownMenuButton2').text();
        var platform = $('#dropdownMenuButton3').text();
        var stayStatus = $('#dropdownMenuButton4').text();
        var guestName = $('#inputLastName').val();
        var reservationDate = $('#reservationDate').val();
        var checkInDate = $('#checkInDateSearch').val();
        var checkOutDate = $('#checkOutDateSearch').val();
        var accommodationFee = $('#inputRate').val().replace(/[^0-9]/g, ''); // 숫자만 가져오도록 변경

        // URL 생성 및 파라미터 추가
        var url = '/the-myeongdong/reservations?';
        if (building !== '') {
            url += 'building=' + building + '&';
        }
        if (roomType !== '') {
            url += 'room_type=' + roomType + '&';
        }
        if (platform !== '') {
            url += 'platform=' + platform + '&';
        }
        if (stayStatus !== '') {
            url += 'stay_status=' + stayStatus + '&';
        }
        if (guestName !== '') {
            url += 'guest_name=' + guestName + '&';
        }
        if (reservationDate !== '') {
            url += 'reservation_date=' + reservationDate + '&';
        }
        if (checkInDate !== '') {
            url += 'check_in_date=' + checkInDate + '&';
        }
        if (checkOutDate !== '') {
            url += 'check_out_date=' + checkOutDate + '&';
        }
        if (accommodationFee !== '') {
            url += 'accommodation_fee=' + accommodationFee + '&';
        }

        // 마지막 '&' 문자 제거
        url = url.slice(0, -1);

        // 새로운 URL로 이동합니다.
        window.location.href = url;
    });
</script>


{% endblock %}
