{% extends 'common.html' %}

{% block content %}
<div id="layoutSidenav_content" style="width: 100%;">
    <main>
        <div class="container-fluid px-4 mb-5">
            <h2 class="mt-4">명동점 예약 상세보기</h2>
            <div class="row mt-4 mb-5">
                <div class="col-md-6">
                    <!-- 첫 번째 카드 -->
                    <div class="card mb-4">
                        <div class="card-header">
                            예약 상세보기
                        </div>
                        <div class="card-body row">
                            <div class="col-md-3">
                                <!-- 항목 부분 -->
                                <div style="text-align: right;">
                                    <p style="font-size: 15px; height: 25px;">건물 :</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">방타입 :</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">예약자 성함 :</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">플랫폼 :</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">예약날짜 :</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">리드타임 :</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">체크인 :</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">체크아웃 :</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">숙박일 :</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">숙박비 :</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">ADR :</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">국적 :</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">투숙인원 :</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">관계 :</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">투숙/취소 :</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">연락처 :</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">이메일 :</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">비고 :</p>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <!-- 인풋 부분 -->
                                <div>
                                    <p style="font-size: 15px; height: 25px;">{{ reservation.building_location|default:'' }}</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">{{ reservation.room_type|default:'' }}</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">{{ reservation.guest_name|default:'' }}</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">{{ reservation.platform_name|default:'' }}</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">{{ reservation.reservation_date|default:'' }}</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">{{ reservation.lead_time|default:'' }}</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">{{ reservation.check_in_date|default:'' }}</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">{{ reservation.check_out_date|default:'' }}</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">{{ reservation.lenth_of_stay|default:'' }}</p>
                                    <hr>
                                    <p style="font-size: 15px;">{{ reservation.total_room_charge|default:'' }}</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">{{ reservation.adr|default:'' }}</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">{{ reservation.nationality|default:'' }}</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">{{ reservation.guest_count|default:'' }}</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">{{ reservation.relationship|default:'' }}</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">{{ reservation.is_checked_in|default:'' }}</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">{{ reservation.phone_number|default:'' }}</p>
                                    <hr>
                                    <p style="font-size: 15px; height: 25px;">{{ reservation.email|default:'' }}</p>
                                    <hr>
                                    <p style="font-size: 15px;">{{ reservation.remarks|default:'' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- 두 번째 카드 -->
                    <div class="card mb-4">
                        <div class="card-header">
                            재방문 정보
                        </div>
                        <div class="card-body">
                            <div style="overflow-x: auto;">
                                <div class="table-responsive my-4">
                                    <table class="table table-bordered display" id="dataTables" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th style="white-space: nowrap;">예약자 성함</th>
                                                <th style="white-space: nowrap;">연락처</th>
                                                <th style="white-space: nowrap;">예약날짜</th>
                                                <th style="white-space: nowrap;">체크인</th>
                                                <th style="white-space: nowrap;">체크아웃</th>
                                                <th style="white-space: nowrap;">국적</th>
                                                <th style="white-space: nowrap;">이메일</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for data in again_guest %}
                                            <tr style="cursor: pointer;" class="reservation-row" data-toggle="modal" data-target="#Modal"
                                                data-building="{{ data.building_location }}"
                                                data-room-type="{{ data.room_type }}"
                                                data-guest-name="{{ data.guest_name }}"
                                                data-platform="{{ data.platform_name }}"
                                                data-reservation-date="{{ data.reservation_date }}"
                                                data-lead-time="{{ data.lead_time }}"
                                                data-check-in-date="{{ data.check_in_date }}"
                                                data-check-out-date="{{ data.check_out_date }}"
                                                data-length-of-stay="{{ data.length_of_stay }}"
                                                data-total-room-charge="{{ data.total_room_charge }}"
                                                data-adr="{{ data.adr }}"
                                                data-nationality="{{ data.nationality }}"
                                                data-guest-count="{{ data.guest_count }}"
                                                data-relationship="{{ data.relationship }}"
                                                data-is-checked-in="{{ data.is_checked_in }}"
                                                data-phone-number="{{ data.phone_number }}"
                                                data-email="{{ data.email }}"
                                                data-remarks="{{ data.remarks }}"
                                            >
                                                <td style="white-space: nowrap;">{{ data.guest_name }}</td>
                                                <td style="white-space: nowrap;">{{ data.phone_number }}</td>
                                                <td style="white-space: nowrap;">{{ data.reservation_date}}</td>
                                                <td style="white-space: nowrap;">{{ data.check_in_date }}</td>
                                                <td style="white-space: nowrap;">{{ data.check_out_date }}</td>
                                                <td style="white-space: nowrap;">{{ data.nationality}}</td>
                                                <td style="white-space: nowrap;">{{ data.email }}</td>
                                            </tr>
                                            {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

<!-- 모달 -->
<div id="Modal" class="modal fade">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body p-4" id="modalContent">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // 예약 데이터를 클릭할 때 모달에 표시되도록 이벤트를 추가합니다.
        $('.reservation-row').on('click', function() {
            var modal = $('#Modal');
            var data = $(this).data(); // 클릭된 행의 데이터 가져오기

            // 모달 내부에 데이터 표시
            var modalContent = `
                <span style="display: block; margin-bottom: 10px;">건물: ${data.building}</span>
                <span style="display: block; margin-bottom: 10px;">방타입: ${data.roomType}</span>
                <span style="display: block; margin-bottom: 10px;">예약자 성함: ${data.guestName}</span>
                <span style="display: block; margin-bottom: 10px;">플랫폼: ${data.platform}</span>
                <span style="display: block; margin-bottom: 10px;">예약날짜: ${data.reservationDate}</span>
                <span style="display: block; margin-bottom: 10px;">리드타임: ${data.leadTime}</span>
                <span style="display: block; margin-bottom: 10px;">체크인: ${data.checkInDate}</span>
                <span style="display: block; margin-bottom: 10px;">체크아웃: ${data.checkOutDate}</span>
                <span style="display: block; margin-bottom: 10px;">숙박일: ${data.lengthOfStay}</span>
                <span style="display: block; margin-bottom: 10px;">숙박비: ${data.totalRoomCharge}</span>
                <span style="display: block; margin-bottom: 10px;">ADR: ${data.adr}</span>
                <span style="display: block; margin-bottom: 10px;">국적: ${data.nationality}</span>
                <span style="display: block; margin-bottom: 10px;">투숙인원: ${data.guestCount}</span>
                <span style="display: block; margin-bottom: 10px;">관계: ${data.relationship}</span>
                <span style="display: block; margin-bottom: 10px;">투숙/취소: ${data.isCheckedIn}</span>
                <span style="display: block; margin-bottom: 10px;">연락처: ${data.phoneNumber}</span>
                <span style="display: block; margin-bottom: 10px;">이메일: ${data.email}</span>
                <span style="display: block; margin-bottom: 10px;">비고: ${data.remarks}</span>
            `;
            modal.find('.modal-body').html(modalContent);

            // 모달 열기
            modal.modal('show');
        });

        // 모달이 닫힐 때 이전에 열린 모달의 스크롤을 해제하고 배경화면을 제거합니다.
        $('#Modal').on('hidden.bs.modal', function (e) {
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
        });
    });

</script>

{% endblock %}